@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* main styling */

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%); 
    --dark-blue: hsl(198, 62%, 26%); 
    --dark-moderate-cyan: hsl(168, 34%, 41%); 
    --very-dark-desaturated-blue: hsl(212, 27%, 19%); 
    --very-dark-grayish-blue: hsl(213, 9%, 39%); 
    --dark-grayish-blue: hsl(232, 10%, 55%); 
    --grayish-blue: hsl(210, 4%, 67%); 
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fraunces', serif;
}

/* header */

#header-nav {
    justify-content: space-between;
}

/* main content */

#main-content {
    grid-template-columns: repeat(2, 1fr);
}

/* testimonials */

#client-testimonials #testimonials {
    grid-template-columns: repeat(3, 1fr);
}

/* footer */

#imgs-footer {
    grid-template-columns: repeat(4, 1fr);
}

/* utility classes */

.flex {
    display: flex;
}

.flex-columm {
    flex-direction: column;
}

.grid {
    display: grid; 
}